<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>
    <body>
        <h3>Client List</h3>

        <form action="/users" method="POST">

            <p>
            <label>Full Name</label>
            <input type="text" id="name" name="name" value="" />
            </p>

            <p>
            <label>Username</label>
            <input type="text" id="username" name="username" value="" />
            </p>

            <p>
            <label>Github Link</label>
            <input type="text" id="link" name="link" value="" />
            </p>

            <button>Create</button>

        </form>

    </body>
</html>