body {
    background-color: #2B0F0E;
    font-family: open-sans-regular;
}
.container {
    background-color: white;
}
.headings{
    font-family: open-sans-bold;
}
.customer-body{
    font-family: open-sans-regular;
}
.side-bar {
    background-color: #2B0F0E;
    width: 50px;
    height: 500px;
    float: left;
}

.my-glyphs {
    color: black;
}
.my-button {
    margin-bottom: 20px;
}


@font-face{
    font-family: "open-sans-regular";
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face{
    font-family: "open-sans-bold";
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}
