body {
    background-color: #4c3e31;
    font-family: open-sans-regular;
}

#footer{
    margin-top: 100px;
    background-color: white;
    padding-top: 5px;
    margin-left: 10px;
}

.big-heading{
    font-family: open-sans-bold;
    font-size: 40px;
}
.container {
    background-color: white;
}

.customer-body{
    font-family: open-sans-regular;
}

.demographics{
    margin-left: 1px;
}

.headings{
    font-family: open-sans-bold;
}

.my-button{
     border-color: #4c3e31;
     margin-top: 10px;
     color: black;
     background-color: white;
     margin-bottom: 20px;
}

.my-image{
   width: 150px;
   height: auto;
}

.my-glyphs {
    color: black;
}

.side-bar {
    background-color: #2B0F0E;
    width: 50px;
    height: 500px;
    float: left;
}

.top-button {
    margin-top: 30px;
}

@font-face{
    font-family: "open-sans-regular";
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face{
    font-family: "open-sans-bold";
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}

