<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/myStyle.css"/>
    </head>
    <body>
        <form action="/users" method="POST">
        
                    <p>
                    <label>Name</label>
                    <input type="text" id="name" name="name" value="" />
                    </p>
        
                    <p>
                    <label>Email</label>
                    <input type="text" id="email" name="email" value="" />
                    </p>
        
                    <p>
                    <label>Job</label>
                    <input type="text" id="job" name="job" value="" />
                    </p>
        
                    <button>Create</button>
        
        </form>
    </body>
</html>